<h1 class="display-4">Firebase + NgRx</h1>
<h4>
  This component demonstrates fetching Employee data from cloud firestore using
  NgRx.
</h4>
<p>
  ngrx/store-devtools is also configured in this app. Install the
  <a
    href="https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en"
    target="_blank "
    >Redux Dev Tools extension</a
  >
  and see the NgRx store in action.
</p>
<hr />

<p *ngIf="loading$ | async"><em>Loading...</em></p>

<table
  class="table table-striped align-middle table-bordered"
  *ngIf="empList$ | async as empList"
>
  <thead class="table-success">
    <tr class="text-center">
      <th>Name</th>
      <th>Gender</th>
      <th>Department</th>
      <th>City</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center" *ngFor="let emp of empList">
      <td>{{ emp?.name }}</td>
      <td>{{ emp?.gender }}</td>
      <td>{{ emp?.department }}</td>
      <td>{{ emp?.city }}</td>
      <td>
        <button
          [routerLink]="['/employee/edit/', emp?.employeeId]"
          type="button"
          class="btn btn-link"
        >
          Edit
        </button>
        |
        <button
          (click)="delete(emp?.employeeId)"
          type="button"
          class="btn btn-link"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
